body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    border: 2px solid blac;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 500px;
    width: 500px;
    background-color: rgb(58, 56, 56);
}
.top{
    border: 2px solid blac;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.title{
    border: 2px solid blac;
    height: 25%;
}
.name{
    margin: 0;
    margin-left: 40px;
    color: white;
    margin-top: 5px;
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid rgb(92, 88, 88);
    border-radius: 10px;
    flex:1 1 0;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(165, 154, 127);
}
#content{
    display: flex;
    border: 2px solid blac;
    height: 50px;
    width: 380px;
    justify-content: end;
    align-items: end;
    color: black;
    font-size: 46px;
    font-weight: 500;
}
.keyboardContainer{
    border: 2px solid blac;
    height: 75%;
}
.keyboard{
    border: 2px solid blac;  
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    align-content: flex-start;
    margin:20px;
    justify-content: center;
}
.button{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    background-color: gray;
    height: 65px;
    width: 65px;

}
